.app-layout {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #263238;
    padding: 32px;
  }

  &__title {
    @media (max-width: 567px) {
      font-size: 48px;
    }

    color: #feca1b;
    font-size: 64px;
    font-weight: 700;
    font-style: italic;
    -webkit-text-stroke: 3px #4771b8;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 48px;
  }
}
