.pokemons-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: auto;

  &__item {
    @media (max-width: 567px) {
      width: 100%;
    }

    display: flex;
    width: calc(50% - 12px);
  }
}
